@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
}

.card{
    max-width: 700px;
}

.image{
    float: left;
    width: 50%;
}

.image img{
    width: 100%;
}

.text{
    float: left;
    width: 50%;
    background-color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 500px) {
    .image, .text {
        width: 100%;
    }    
}












